{% load CustomFuncTags %}
<div>
    <span>
        <button {{Card.2.1|GetDictValue:'CVoteBtn'}} id="Button1#{{Card.2.0.ObjectID}}" class="Button VoteButton VoteButton--up {{Card.2.1|GetDictValue:'CVote1Status'}}" onclick="AttitudeOperate('Comment','{{Card.2.0.ObjectID}}','1')">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/TAB-Like.svg">
            </span>
            <span id='Span1#{{Card.2.0.ObjectID}}'>{{Card.2.0.Like}}</span>
        </button>
        <button {{Card.2.1|GetDictValue:'CVoteBtn'}} id="Button0#{{Card.2.0.ObjectID}}" class="Button VoteButton VoteButton--up {{Card.2.1|GetDictValue:'CVote0Status'}}" onclick="AttitudeOperate('Comment','{{Card.2.0.ObjectID}}','0')">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/TAB-Dislike.svg">
            </span>
            <span id='Span0#{{Card.2.0.ObjectID}}'>{{Card.2.0.Dislike}}</span>
        </button>
    </span>
    <span {{Card.2.1|GetDictValue:'TipOffBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
        <button class="ActionsFontColor NoDecoration TopicActions" id="{{Card.2.0.ObjectID}}#replayBtn" href="javascript:void(0)" style="display: inline-flex; align-items: center;" onclick="javascript:ShowReplayBox(this,'{{Card.2.0.ObjectID}}','{{Layout_Sizer|GetDictValue:'Region'}}')">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/CAB-Replay.svg">
            </span>
            回复
        </button>
    </span>
    <span {{Card.2.1|GetDictValue:'TipOffBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
        <button class="ActionsFontColor NoDecoration TopicActions" href="javascript:void(0)" style="display: inline-flex; align-items: center;" onclick="javascript:OpenTipOffView('{{Card.2.0.ObjectID}}','{{Layout_Sizer|GetDictValue:'Region'}}Comment')" data-toggle="modal" data-target="#TipOffBoard">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/CAB-Tipoff.svg">
            </span>
            {{Card.2.1|GetDictValue:'TipOffStatus'}}
        </button>    
    </span>
    <span {{Card.2.1|GetDictValue:'DonateBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
        <button class="ActionsFontColor NoDecoration TopicActions" href="javascript:void(0)" style="display: inline-flex; align-items: center;" onclick="javascript:alert('功能尚未开放!')">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/CAB-Donate.svg">
            </span>
            打赏
        </button>    
    </span>
    {% if Card.0 == '1' %}
    <span class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
        <button class="ActionsFontColor NoDecoration TopicActions" style="display: inline-flex; align-items: center;" onclick="javascript:alert('功能尚未开放!')">
            <span class="AttitudeActions">
                <img src="{{MEDIA_URL}}SVG/CAB-Communication.svg">
            </span>
            查看对话
        </button>    
    </span>
    {% endif %}    
</div>


