<div class="FeedSource-firstline" style="margin:0px 5px 5px 0px;display:block;overflow: hidden;text-overflow:ellipsis; white-space:nowrap;">
    <img width=25 height=25 style="cursor:pointer;-webkit-border-radius: 12.5px;" src="{{Card.2.0.Publisher.Avatar}}">
    <a title="{{Card.2.0.Publisher.id}}" style="color:#333333;font-size:16px;text-decoration:none;" href="/UserProfile/Topic/{{Card.2.0.Publisher.id}}/LE/1"><b>{{Card.2.0.Publisher.Nick}}</b></a>
    <span style="padding: 0px 2px 0px 2px"><b>·</b></span>
    <span style="font-size:14px;color:#8590A6;width:60%;">{{Card.2.0.Publisher.Description}}</span>
</div>