{% load CustomFuncTags %}
<div id='ObjectContent' ObjectID='{{Export_Object.0.ObjectID}}' class="DivRollCallContent">
    <div class="RollCallDiv">
        <div class="DivInline">
            <img src="{{MEDIA_URL}}SVG/RDB-QmarkL.svg">
        </div>
        <div class="DivInline">
            <h2 class="ContentItem-title DivInline"><b>{{Export_Object.0.Title}}</b></h2>
        </div>
        <div class="DivInline">
            <img src="{{MEDIA_URL}}SVG/RDB-QmarkR.svg">
        </div>        
    </div>
    {% include "Content-RollCallActions-Block.html" %}
    {% include "RollCall-Participant-Block.html" %}
    <div id="timeline" class="Divtimeline">
        {% for Card in ExportList_Topic %}
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="{{MEDIA_URL}}{{Card.Publisher.Avatar}}" class="timeline-icon-image">
            </div>
            <div class="timeline-content {{Card.Display}}">
                <span class="SpanRollDiol">
                    <img src="{{MEDIA_URL}}SVG/CRF-DateTime.svg">
                </span>
                <h2 class="time-line-date">{{Card.EditDate}}</h2>
                <p class="time-line-content">
                    {{Card.Content}} 
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "Content-RollCallCommit-Block.html" %}