{% load CustomFuncTags %}
{% for Card in ExportList_Topic %}
<div id='ObjectContent' class="Comments-container" ObjectID='{{Card.0.ObjectID}}'>
    {% if Layout_Sizer|GetDictValue:'Region' == 'SpecialTopic' %}
    <div style="width:100%;">
        <img class="CoverPic" src="{{Card.0.Cover_SR965x300.url}}">
    </div>
    {% endif %}
    <div class="ContentItem AnswerItem" style="padding:20px 30px;">   
        <div>
            <h1 class="ContentTitle">
                <B>{{Card.0.Title}}</B>
            </h1></br>
            {% include 'Topic-PublisherInfo-Block.html' %}
            {% include 'Topic-Actions-Block.html' %}
            {% include 'Topic-Tags-Block.html' %}                       
            <div>
                <hr class="ContentPageHr">     
            </div>
            <div class="RichContent RichContent--unescapable">
                <div class="RichContent RichContent--unescapable RichContent-inner Content">
                    <span class="RichText ztext CopyrightRichText-richText">
                        {{Card.0.Content|safe}}
                    </span>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endfor %}