{% load CustomFuncTags %}
<span class="ThemeTagSVG TagSVG">
    <img src="{{MEDIA_URL}}SVG/CRB-DateTime.svg">
</span>
{% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
<button class="ExponentTagItem TagSVG NoDecoration" href="/RollCall/Time/{{ExportList_Topic.0.0.RollCallID.EditDate | date:'Y-m-d' }}/NA/1/">{{ExportList_Topic.0.0.RollCallID.EditDate}}</button>
{% else %}
<button class="ExponentTagItem TagSVG NoDecoration" href="/{{Layout_Sizer|GetDictValue:'Region'}}/Time/{{ExportList_Topic.0.0.RollCallID.EditDate | date:'Y-m-d' }}/NA/1/">{{ExportList_Topic.0.0.RollCallID.EditDate}}</button>
{% endif %}
<span {{ExportList_Topic.0.1|GetDictValue:'ShareBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:QRcodeShare('/RollCall/Content/{{ExportList_Topic.0.0.RollCallID.ObjectID}}/LE/1/Share')" data-toggle="modal" data-target="#QRcodeBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:QRcodeShare('/{{Layout_Sizer|GetDictValue:'Region'}}/Content/{{ExportList_Topic.0.0.RollCallID.ObjectID}}/LE/1/Share')" data-toggle="modal" data-target="#QRcodeBoard">    
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Share.svg">
        </span>
        分享
    </button>    
</span>
<span {{ExportList_Topic.0.1|GetDictValue:'TipOffBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:OpenTipOffView('{{ExportList_Topic.0.0.RollCallID.ObjectID}}','RollCall')" data-toggle="modal" data-target="#TipOffBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:OpenTipOffView('{{ExportList_Topic.0.0.RollCallID.ObjectID}}','{{Layout_Sizer|GetDictValue:'Region'}}')" data-toggle="modal" data-target="#TipOffBoard">    
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Tipoff.svg">
        </span>
        {{ExportList_Topic.0.1|GetDictValue:'TipOffStatus'}}
    </button> 
</span>
<span {{ExportList_Topic.0.1|GetDictValue:'DonateBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:alert('功能尚未开放!'))" data-toggle="modal" data-target="#QRcodeBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:alert('功能尚未开放!'))" data-toggle="modal" data-target="#QRcodeBoard">
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Donate.svg"> 
        </span>
        打赏
    </button>    
</span>
<span {{ExportList_Topic.0.1|GetDictValue:'CollectBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:Collect('{{ExportList_Topic.0.0.RollCallID.ObjectID}}','{{ csrf_token }}','RollCall')">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:Collect('{{ExportList_Topic.0.0.RollCallID.ObjectID}}','{{ csrf_token }}','{{Layout_Sizer|GetDictValue:'Region'}}')">
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Collect.svg">
        </span>
        {{ExportList_Topic.0.1|GetDictValue:'CollectStatus'}}
    </button>    
</span>
