{% load CustomFuncTags %}
<ul class="GlobalSideBar-categoryList SideBarScroller">
    {% for category in ExportList_Categorys %}
    <li class="GlobalSideBar-categoryItem">
        <button onclick="javascript:window.location.href='/{{Layout_Sizer|GetDictValue:'Region'}}/Category/{{category.Name}}/LE/1/'" type="button" class="Button Button--plain NoDecoration">
            <span class="GlobalSideBar-categoryIcon">
                {{category.SVG|safe}}
            </span>
            <span class="GlobalSideBar-categoryLabel" style="font-size:13px;">
                {{category.Name}}
            </span>
        </button>
    </li>
    {% endfor %}
</ul>