<ul class="GlobalSideBar-categoryList PublishSideBarScroller">
    {% for Publisher in ExportList_Publishers %}
    <li title="{{Publisher.Publisher.Nick}}" class="GlobalSideBar-categoryItem GlobalSideBar-ItemHight">
        <button class="Button Button--plain ButtonPubilsher NoDecoration" onclick="javascript:window.location.href='/UserProfile/Topic/{{Publisher.Publisher.id}}/LE/1/'" type="button">
            <span class="GlobalSideBar-PublisherImage">
                <img class="AvatarPublisherList" src="{{MEDIA_URL}}{{Publisher.Publisher.Avatar}}">
            </span>
            <span class="GlobalSideBar-categoryLabel">
                {{Publisher.Publisher.Nick}}
            </span>
        </button>
    </li>
    {% endfor %}
</ul>