{% load CustomFuncTags %}
{% if LayoSizer|GetDictValue:'Region' == 'UserProfile' %}
    <div class="TopstoryMain" style="width:100%" >
{% else %}
    <div class="TopstoryMain">
{% endif %}
    <div class="CardList">
        {% for Card in ExportList_Cards %}
            <div id="{{Card.0.ObjectID}}" class="Card TopstoryItem">
                {% include 'CloseBtn-Block.html' %}
                <div class="Feed" >
                    {% include 'Topic-PublisherInfo-Block.html' %}
                    {% include 'Topic-Detail-Block.html' %}
                    {% include 'Topic-Actions-Block.html' %}
                    {% include 'Topic-Tags-Block.html' %}
                </div>
            </div>
        {% endfor %}
        {% include "Paginator.html" %}
    </div>                                                        
</div>