<div class="Card">
    <div class="GlobalWrite">
        <div class="GlobalWrite-nav">
            <button title="点名" class="GlobalWrite-navItem NoDecoration" type="button" data-toggle="modal" data-target="#EssayPublishBoard">
                <img src="{{MEDIA_URL}}SVG/LFB-RollCall.svg">
                <div class="GlobalWrite-navTitle">指名</div>
            </button>
            <button title="发文" class="GlobalWrite-navItem NoDecoration" type="button" data-toggle="modal" data-target="#LongTextPublishBoard">
                <img src="{{MEDIA_URL}}SVG/LFB-Topic.svg">
                <div class="GlobalWrite-navTitle">怼文</div>
            </button>
            <button title="支持" class="GlobalWrite-navItem NoDecoration" type="button" onclick="javascript:alert('功能尚未开放！')">
                <img src="{{MEDIA_URL}}SVG/LFB-Stand.svg">
                <div class="GlobalWrite-navTitle">站台</div>
            </button>
        </div>                      
    </div>
</div>