{% load CustomFuncTags %}
<div class="TopstoryMain DivUserList">
    <div class="CardList">
        {% for Card in ExportList_Cards %}
        {% if Layout_Sizer|GetDictValue:'Part' == 'Focus' %}
        <div id="{{Card.UserBeLinked.Nick}}" class="Card TopstoryItem DivUserListCard">
            <div class="DivUserListImage">
                <img class="AvatarUserList" src="{{MEDIA_URL}}{{Card.UserBeLinked.Avatar}}" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.UserBeLinked.id}}/LE/1/'">
            </div>
            <div class="DivUserListDetail">
                <div>
                    <button onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.UserBeLinked.id}}/LE/1/'" class="BtnUserListNick NoDecoration"><b>{{Card.UserBeLinked.Nick}}</b></button>
                </div>
                <div class="DesLabelUserList">
                    {{Card.UserBeLinked.Description}}
                </div>
                <div>
                    <div class="LabelUserList">
                        {{Card.UserBeLinked.TCount}}文章 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.UserBeLinked.TRCount}}回答 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.UserBeLinked.FansCount}}关注者
                    </div>
                </div>
            </div>
            <div style="display:inline-block;margin:0px 0px 0px 0px;">
                <button id='LinkButton' class="Button Button--blue BtnCancelFocus" onclick="javascript:UserLink('/UserLink/','{{ csrf_token }}','{{Card.UserBeLinked.id}}','delete')">取消关注</button>
            </div>
        </div>
        {% elif Layout_Sizer|GetDictValue:'Part' == 'Fans' %}
        <div id="{{Card.UserLinking.Nick}}" class="Card TopstoryItem DivUserListCard">
            <div class="DivUserListImage">
                <img src="{{Card.UserLinking.Avatar}}" class="AvatarUserList" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.UserLinking.id}}/LE/1/'">
            </div>
            <div class="DivUserListDetail">
                <div>
                    <button onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.UserLinking.id}}/LE/1/'" class="BtnUserListNick NoDecoration"><b>{{Card.UserLinking.Nick}}</b></button>
                </div>
                <div class="DesLabelUserList">
                    {{Card.UserLinking.Description}}
                </div>
                <div>
                    <div class="LabelUserList">
                        {{Card.UserLinking.TCount}}文章 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.UserLinking.TRCount}}回答 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.UserLinking.FansCount}}关注者
                    </div>
                </div>
            </div>
        </div>
        {% elif Layout_Sizer|GetDictValue:'Part' == 'User' %}
        <div id="{{Card.0.Nick}}" class="Card TopstoryItem DivUserListCard">
            <div class="DivUserListImage">
                <img src="{{MEDIA_URL}}{{Card.0.Avatar}}" class="AvatarUserList" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.id}}/LE/1/'">
            </div>
            <div class="DivUserListDetail">
                <div>
                    <button onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.id}}/LE/1/'" class="BtnUserListNick NoDecoration"><b>{{Card.0.Nick}}</b></button>
                </div>
                <div class="DesLabelUserList">
                    {{Card.0.Description}}
                </div>
                <div>
                    <div class="LabelUserList">
                        {{Card.0.TCount}}文章 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.0.TRCount}}回答 ·
                    </div>
                    <div class="LabelUserList">
                        {{Card.0.FansCount}}关注者
                    </div>
                </div>
            </div>
        </div>        
        {% endif %}
        {% endfor %}
        {% include "Paginator.html" %}
    </div>                                                        
</div>