{% load static %}

<link rel="shorcut icon" type="imagx/x-icon" href="{% static "media/favicon.ico" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/mafioso-rollcall.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/mafioso-user.min.css" %}">
<script type="text/javascript" src="{% static "js/jQuery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jQuery-Cookie.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/aes.min.js" %}"></script>
<script rel="preload" type="text/javascript" src="{% static "js/NTCustomFunctions.js" %}"></script>
<script type="text/javascript" src="{% static "js/QRcode.min.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript">
    // 不要括号
    window.onload = TickDiv;
</script>
