{% load CustomFuncTags %}
<div>
    <hr class="ContentPageHr">
</div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <div class="RollCallPublisherImg">
            {% if Layout_Sizer|GetDictValue:'Part' == 'Content' %}
            <a href="/UserProfile/Topic/{{Export_Object.0.Publisher.id}}/LE/1/">
                <img class="AvatarBase AvatarRollCallLeft" src="{{MEDIA_URL}}{{Export_Object.0.Publisher.Avatar}}">
            {% else %}
            <a href="/UserProfile/Topic/{{Card.0.Publisher.id}}/LE/1/">
                <img class="AvatarBase AvatarRollCallLeft" src="{{MEDIA_URL}}{{Card.0.Publisher.Avatar}}">
            {% endif %}
            </a>
        </div>
        <div class="DivRollCallRight">
            {% if Layout_Sizer|GetDictValue:'Part' == 'Content' %}
            <button class="NickRollCallLeft NoDecoration" onclick="javascript:window.location.href='/UserProfile/Topic/{{Export_Object.0.Publisher.id}}/LE/1/'">
                {{Export_Object.0.Publisher.Nick}}
            {% else %}
            <button class="NickRollCallLeft NoDecoration" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.Publisher.id}}/LE/1/'">
                {{Card.0.Publisher.Nick}}
                {% endif %}
            </button>
        </div>
    </div>
    <div class="RollCallHorn">
        <img src="{{MEDIA_URL}}SVG/RPB-Horn.svg">
    </div>
    <div class="col-md-6 column">
        <div>
            {% if Layout_Sizer|GetDictValue:'Part' == 'Content' %}
            <a href="/UserProfile/Topic/{{Export_Object.0.Target.id}}/LE/1/">
                <img class="AvatarBase AvatarRollCallRight" src="{{MEDIA_URL}}{{Export_Object.0.Target.Avatar}}">
            {% else %}
            <a href="/UserProfile/Topic/{{Card.0.Target.id}}/LE/1/">
                <img class="AvatarBase AvatarRollCallRight" src="{{MEDIA_URL}}{{Card.0.Target.Avatar}}">
            {% endif %}    
            </a>
        </div>
        <div class="DivRollCallNickLeft">
            {% if Layout_Sizer|GetDictValue:'Part' == 'Content' %}
            <button class="NickRollCallRight NoDecoration" onclick="javascript:window.location.href='/UserProfile/Topic/{{Export_Object.0.Target.id}}/LE/1/'">
                {{Export_Object.0.Target.Nick}}
            {% else %}
            <button class="NickRollCallRight NoDecoration" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.Target.id}}/LE/1/'">
                {{Card.0.Target.Nick}}
            {% endif %}
            </button>
        </div>      
    </div>
</div>
