{% load CustomFuncTags %}
<span class="ThemeTagSVG TagSVG">
    <img src="{{MEDIA_URL}}SVG/CRB-DateTime.svg">
</span>
{% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
<button class="ExponentTagItem TagSVG NoDecoration" href="/RollCall/Time/{{Card.0.EditDate | date:'Y-m-d' }}/NA/1/">{{Card.0.EditDate}}</button>
{% else %}
<button class="ExponentTagItem TagSVG NoDecoration" href="/{{Layout_Sizer|GetDictValue:'Region'}}/Time/{{Card.0.EditDate | date:'Y-m-d' }}/NA/1/">{{Card.0.EditDate}}</button>
{% endif %}
<span {{Card.1|GetDictValue:'VoteBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" type="button" onclick="javascript:window.location.href='/RollCall/Content/{{Card.0.ObjectID}}/LE/1#anchorDiv/'">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" type="button" onclick="javascript:window.location.href='/{{Layout_Sizer|GetDictValue:'Region'}}/Content/{{Card.0.ObjectID}}/LE/1#anchorDiv/'">
    {% endif%}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Comment.svg"> 
        </span>
        {{Card.0.Comment}} 条互动
    </button>    
</span>
<span {{Card.1|GetDictValue:'ShareBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:QRcodeShare('/RollCall/Content/{{Card.0.ObjectID}}/LE/1/Share')" data-toggle="modal" data-target="#QRcodeBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:QRcodeShare('/{{Layout_Sizer|GetDictValue:'Region'}}/Content/{{Card.0.ObjectID}}/LE/1/Share')" data-toggle="modal" data-target="#QRcodeBoard">    
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Share.svg">
        </span>
        分享
    </button>    
</span>
<span {{Card.1|GetDictValue:'TipOffBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:OpenTipOffView('{{Card.0.ObjectID}}','RollCall')" data-toggle="modal" data-target="#TipOffBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:OpenTipOffView('{{Card.0.ObjectID}}','{{Layout_Sizer|GetDictValue:'Region'}}')" data-toggle="modal" data-target="#TipOffBoard">    
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Tipoff.svg">
        </span>
        {{Card.1|GetDictValue:'TipOffStatus'}}
    </button> 
</span>
<span {{Card.1|GetDictValue:'DonateBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:alert('功能尚未开放!'))" data-toggle="modal" data-target="#QRcodeBoard">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:alert('功能尚未开放!'))" data-toggle="modal" data-target="#QRcodeBoard">
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Donate.svg"> 
        </span>
        打赏
    </button>    
</span>
<span {{Card.1|GetDictValue:'CollectBtn'}} class="ContentItem-action Button--plain Button--withIcon Button--withLabel">
    {% if Layout_Sizer|GetDictValue:'Region' == 'UserProfile' %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:Collect('{{Card.0.ObjectID}}','{{ csrf_token }}','RollCall')">
    {% else %}
    <button class="ActionsFontColor NoDecoration RollCallActions" onclick="javascript:Collect('{{Card.0.ObjectID}}','{{ csrf_token }}','{{Layout_Sizer|GetDictValue:'Region'}}')">
    {% endif %}
        <span class="RollCallActions">
            <img src="{{MEDIA_URL}}SVG/CRB-Collect.svg">
        </span>
        {{Card.1|GetDictValue:'CollectStatus'}}
    </button>    
</span>
