<div class="FeedSource">
    <div class="FeedSource-firstline">
        <img class="AvatarBase" src="{{MEDIA_URL}}{{Card.0.Publisher.Avatar}}" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.Publisher.id}}/LE/1/'">        		
        <button title="{{Card.0.Publisher.id}}" class="Button Button--plain NoDecoration NickComment" onclick="javascript:window.location.href='/UserProfile/Topic/{{Card.0.Publisher.id}}/LE/1/'"><b>{{Card.0.Publisher}}</b></button>
        <span class="UserDesDot"><b>·</b></span>
        <span class="UserDesComment">{{Card.0.Publisher.Description}}</span>
    </div>
</div>
