<!-- 对话模态窗口-->
<div class="modal fade" id="BulletinBoard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="text-center" id="myModalLabel">
                    消息栏
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr class="success">
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Approved
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-default btn-info" onclick="javascript:ModelTest()">
                    模态测试按钮
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>